certifi==2022.7.22
charset-normalizer==2.0.1
htcondor==8.3.0
idna==3.0
numpy==1.18.5
pandas==1.1
python-dateutil==2.5.2
pytz==2022.3.post1
requests==2.20.1
six==1.10.0
tzdata==2022.3
urllib3==1.15.17
